
html {
    scroll-behavior: smooth;
  }
body{
    background-image: url("https://c.pxhere.com/photos/e3/78/mug_coffee_cup_drink-98978.jpg!d");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
div.vl{
    width: 100%;
}
#vl1 h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
}
#vl1 > div{
    display: block;
    margin:0 auto 0px;
}
div.orderonl{
    text-align: center;
    align-items: center;
}
div.orderonl > img{
    width:21.876rem;
    transition: all 0.5s;
}
.rr{
    width: 100%;
    height: 400px;
    background: #fff;
    
 }
 div.owl-carousel{
    margin: 10px auto 0;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
 }
 .rr .rrTitle{
    width: 1000px;
    margin:0 auto;
    border-bottom: 5px solid red;
 }
 .rr .rrTitle span:nth-child(1){
    font-size: 45px;
    text-transform: uppercase;
    margin-left: 20px;
    border-bottom: 5px solid red;
    text-decoration: none;
 }
 .rr .rrTitle span:nth-child(2){
    margin-left: 65%;
    font-size: 16px;
    border: 2px solid black;
    text-transform: uppercase;
 }
 .item h5{
    text-align: center;
 }

 .foot{
    display: flex;
    width: 100%;
    height: 300px;
    background: #000000;
    color: aliceblue;
    align-items: center;
    justify-content:center;
}
.foot .foots{
    margin: 50px;
}
.infomation .infomations i{
    color: red;
}
.foots.time{
    color: #FF7F24;
}
.nguoidung{
    position: relative;
    width: 100%;
    height: 200px;
    background: #fff;
}
.diemso{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content:center;
}
.diemso .cup{
    margin: 80px;
    text-align: center;
}
.cup{
    font-size: 35px;
}
.cup p{
    font-size: 17px;
}

div.dev{
    position: relative;
    width: 100%;
    height: 1150px;
}
.dev #devImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1150px;
}
.dev .devBlog{
    position: relative;
    width: 1000px;
    margin:0px auto 0;
    height: 1000px;
    color: #000000;
}
.devBlog .devBlogTitle{
    width: 1000px;
    height: 70px;
    font-size: 40px;
    border-bottom: 5px solid red;
    margin: 0 auto;
}
.devBlog .devBlogTitle span:nth-child(1),
.store .storeContent span:nth-child(1){
    text-transform: uppercase;
    border-bottom: 5px solid red;
}
#btnV{
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-left: 23px;
    margin-left: 70%;
    text-transform: capitalize;
    width: 7.5em;
    height:  2.1855em;
    background: #FFFFFF;
    border: 3px solid black;
    z-index: 0;
}
#btnV::before{
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    width: 7.5em;
    height:  2.1855em;
    background: #FF7F24;
    z-index: -1;
    transition:width 0.5s;
}
#btnV:hover::before{
    width: 0;
}
.devBlog .devBlogF{
    width: 1000px;
    height: 600px;
    background: #F8F8FF;
    margin: 0 auto;
}
.devBlog .devBlogF > img{
    width: 100%;
    height: 400px;
}
.devBlog .devBlogF .devContent,
.devBlogSContent .devContent,
.devBlogTContent .devContent{
    margin:20px 20px;
}
.devBlog .devBlogF .devContent p:nth-child(1),
.devBlogSContent .devContent p:nth-child(1),
.devBlogTContent .devContent p:nth-child(1){
    text-transform: uppercase;
}
.devBlog .devBlogF .devContent p:nth-child(2),
.devBlogSContent .devContent p:nth-child(2),
.devBlogTContent .devContent p:nth-child(2){
    font-size: 20px;
    font-weight: 600;
}
.devBlog .devBlogF .devContent p:nth-child(3),
.devBlogSContent .devContent p:nth-child(3),
.devBlogTContent .devContent p:nth-child(3){
    font-size: small;
}

/* second */
.devBlog .devBlogS,
.devBlog .devBlogT{
    display: flex;
    width: 1000px;
    height: 200px;
    background: #FF7F24;
    margin: 10px auto;
}
.devBlog .devBlogS .devBlogSImg,
.devBlog .devBlogT .devBlogTImg{
    width:450px;
    height:200px;
}
.devBlog .devBlogS .devBlogSImg img,
.devBlog .devBlogT .devBlogTImg img{
    width: 100%;
    height:200px;
    
}
#btnViews{
    position: relative;
    z-index: 0;
    width: 7.5rem;
    height: 2.1855rem;
    border: 3px solid black;
    text-align: center;
}
#btnViews:after{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 0px;
    height: 2.1855rem;
    background: red;
    transition: width 0.5s;
    border-bottom:3px solid white ;
    border-right:3px solid white ;
    z-index: -1;
}
#btnViews:hover:after{
    width: 7.5rem;
}
div.partList{
    position: relative;
    width: 100%;
    height: 1100px;
}
div.partListTitle{
    width: 1000px;
    height: 50px;
    margin: 0 auto 0;
}
div.partListTitle h3{
    font-size: 40px;
    padding-left: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid white;
}
.list{
    width: 1000px;
    height: 950px;
    text-align: center;
    margin: 30px auto 0;
}
.list #list_{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#list_ .list_s{
    margin-left: 1.5rem;
    margin-top: 10px;
    width: 18.75rem;
    height: 28.125rem;
    background: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* transition: .4s; */
}
.list #list_ .list_s img {
    width: 100%;
    
}
#list_ .list_s:hover{
    background: red;
}
div.deal_list{
    position: relative;
    top: 10px;
    left: 46.5%;
    transform: translateX(-50px);
    width: 7.5rem;
    height: 2.8125rem;
    border-radius: 20px;
    background-color:tomato;
    overflow: hidden;
    z-index: 0;
}
div.deal_list > p{
    text-transform: capitalize;
    padding-top: 8px;
}
div.deal_list::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 0rem;
    background: #FFFFFF;
    height: 2.8125rem;
    /* padding-top: 0.625em; */
    transition: width 0.5s;
    z-index: -1;
}
#list_ .list_s:hover .deal_list::before{
    width: 7.5rem;
}
#list_ .list_s > p{
    padding-top: 1.25rem;
}
div.store{
    position: relative;
    width: 100%;
    height: 700px;
    background: #FFFFFF;
    overflow:auto;
}
.store .storeContent{
    width: 1000px;
    height: 70px;
    margin:0 auto 0;
    font-size: 40px;
    border-bottom: 5px solid red;
}
.store .stores{
    width: 1000px;
    height: 400px;
    display: flex;
    background: #FF7F24;
    margin: 0 auto 0;
}
.store .stores .storesContent,
.store .stores .storesImg{
    width: 500px;
    height: 400px;
    
}
.store .stores .storesContent{
    text-align: start;
    margin: 60px 20px;
}
.store .stores .storesImg img{
    width: 100%;
    height: 400px;
}
.store .recritment,
.store .aboutUs{
    width: 1000px;
    height: 70px;
    background: #F8F8FF;
    margin: 10px auto 0;
    overflow: hidden;
    transition: height 0.5s;
}
.store .recritment .recritmentTitle span,
.store .aboutUs .aboutUsTitle span{
    font-size: 35px;
    margin: 15px 10px;
    cursor: pointer;
}
.store .recritment.showRe,
.store .aboutUs.showRe{
    height: 250px;
}
.store .recritment.showRe .recritmentTitle #btnRe,
.store .aboutUs.showRe .aboutUsTitle #btnAb{
    transform: rotate(180deg);
}
.recritmentContent{
    margin: 10px auto 0;
    width: 500px;
    height: 200px;
    text-align: center;
}
.recritmentContent span{
    display: inline-block;
    width: 220px;
    height: 55px;
    padding-top: 13px;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 1px solid black;
}
.recritmentContent span:hover{
    background: #FF7F24;
}
.recritmentContent p:hover{
    color: #FF7F24;
}
.footerd > div{
    margin: 50px;
}
.noname{
    position: absolute;
    top: 360vh;
    left: 45%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: .3s;
}
.noname > div{
    text-align: center;
    
}
.noname div p{
   padding-top: 15px;
    padding-bottom: 5px;
}
.noname:hover{
    background-color: red;
    transform: scale(1.2);
    
    
}


