
body{
    background-image: url("https://c.pxhere.com/photos/e3/78/mug_coffee_cup_drink-98978.jpg!d");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
div.vl{
    background: #fff;
    width: 100%;
}
#vl1 h2{
    text-align: center;
    font-size: 38px;
}
#vl1 > div{
    display: block;
    margin:0 auto 0;
}
div.orderonl{
    text-align: center;
    align-items: center;
}
div.orderonl > img{
    font-size: 10px;
    width:30em;
}
.rr{
    width: 100%;
    height: 500px;
    background: #fff;
    
 }
 div.owl-carousel{
    margin: 10px auto 0;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
 }
 .rr h2 , h6{
    text-align: center;
 }
 .item h5{
    text-align: center;
 }

 .foot{
    display: flex;
    width: 100%;
    height: 300px;
    background: #000000;
    color: aliceblue;
    align-items: center;
    justify-content:space-between;
}
.foot .foots{
    margin: 40px;
}
.infomation .infomations i{
    color: red;
}
.foots.time{
    color: #FF7F24;
}
.nguoidung{
    position: relative;
    width: 100%;
    height: 200px;
    top: 0;
    background: #fff;
}
.diemso{
    display: flex;
    align-items:center;
    justify-content:center;
}
.diemso .cup{
    margin: 80px;
    text-align: center;
}
.cup{
    font-size: 45px;
}
.cup p{
    font-size: 25px;
}

div.dev{
    display: flex;
    position: relative;
    justify-content:space-around;
    /* background-color:#F8F8FF; */
    background: blue;
    height: 650px;
    padding-top: 50px;
    
}
div.dev .info{
    font-size: 16px;
    margin-left: 12.5em;
    padding-top: 6.25em;
}
div.devs img {
    font-size: 10px;
    width: 55em;
    height: 55em;
}
div.sdt{
    display: flex;
}
div.sdt > div{
    margin: 3%;
}
#sdtsss{
    margin-top: 35px;
    width: 200px;
}
.list{
    width: 100%;
    height: 600px;
    background: #F8F8FF;
    text-align: center;
}
.list #list_{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}
#list_ .list_s{
    font-size: 16px;
    margin-left: 1.875em;
    width: 18.75em;
    height: 28.125em;
    background: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .4s;
}
.list #list_ .list_s img {
    width: 100%;
    
}
div.deal_list{
    font-size: 16px;
    position: relative;
    top: 10px;
    left: 46.5%;
    transform: translateX(-50px);
    width: 7.5em;
    height: 2.8125em;
    border-radius: 20px;
    background-color:tomato;
    overflow: hidden;
}
#list_ .list_s > p{
    font-size: 16px;
    padding-top: 1.25em;
}
.list_s .deal_list .deal_list0{
    font-size: 16px;
    position:absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 2.8125em;
    overflow: hidden;
    transition: width 1.2s;
}
.list_s .deal_list .deal_list0 > p{
    font-size: 16px;
    position:absolute;
    top: 0;
    left: 0;
    width: 7.5em;
    height: 2.8125em;
    padding-top: 0.625em;
}
.list_s .deal_list .deal_list1{
    font-size: 16px;
    position:absolute;
    top: 0;
    left: 0;
    width: 7.5em;
    height: 2.8125em;
    padding-top: 0.625em;
}
.footerd > div{
    margin: 50px;
}
.noname{
    position: absolute;
    top: 360vh;
    left: 45%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: .3s;
}
.noname > div{
    text-align: center;
    
}
.noname div p{
   padding-top: 15px;
    padding-bottom: 5px;
}
.noname:hover{
    background-color: red;
    transform: scale(1.2);
    
    
}
@media only screen and (max-width: 500px) {
    img#logo{
        font-size:4px;
        top:10%;
    }    
    nav.navv{
        display: none;
    }
    .slider{
        height: 75vh;
    }
    .slider .sliders{
        /* font-size: 100%; */
        transform: translate(-50%,100px);
        border-radius: 0;
    }
    div.dot{
        margin:75px auto 0;
    }
    div.devs img{
        font-size: 4px;
    }
    div.headerr .navbar{
        display: block;
    }
    .caption_left .caption_{
        top: 0;
        left: 10px;
        color: #F8F8FF;
    }
    .caption_right .caption_{
        top: 40px;
        right: 10px;
        text-align: end;
        color: #F8F8FF;
    }
    .caption_left .caption_ h2,
    .caption_right .caption_ h2{
        font-size: 12px;
    }
    div.orderonl > img{
        font-size: 3.5px;
    }
    .rr{
        height: 380px;
    }
    div.owl-carousel{
        width: 100%;
        border-radius: 0;
    }
    div.dev{
        flex-wrap: wrap;
        height: 520px;
        padding-top: 0;
        background:#F8F8FF;
    }
    
    div.dev .info{
        margin-left:10px;
        margin-top: -60px;
    }
    div.dev .info > h2{
        font-size: 25px;
    }
    div.list{
        height: 550px;
    }
    #list_ .list_s{
        font-size: 8.2px;
        margin: 13px auto 0;
    }
    #list_ .list_s > p{
        font-size: 13px;
    }
    .list_s .deal_list .deal_list0{
        display: none;
    }
    div.deal_list{
        font-size: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .list_s .deal_list .deal_list1{
        font-size: 10px;
    }
    .nguoidung{
        height: 50px;
    }
    .diemso .cup{
        margin: 10px;
        text-align: center;
    }
    .cup{
        font-size: 20px;
    }
    .cup p{
        font-size: 15px;
    }
    div.r{
        display: none;
    }
    div.space_img{
        width: 100%;
        height: 200px;
    }
    div.tt{
        height: 420px;
    }
    .tt .contact{
        display: none;
    }
    .tt .send{
        font-size: 100%;
        height: 400px;
        border-radius: 0;
    }
    .tt .send form input{
        font-size: 12px;
    }
    #sendmes{
        font-size: 12px;
    }
    .modal_ct .modal_box{
        width: 350px;
        height: 200px;
    }
    div.foot{
        display: none;
    }
}
