

div.tt{
    display: flex;
    height: auto;
    background:white;
    justify-content:center;
    justify-items: center;

}
.tt .send{
    margin-top: 2.5rem;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 31.25rem;
    height:31.25rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: var(--boderbtn);
}
.tt .send h5{
    font-size:25px;
    margin-top: 2.83em;
    padding: 0.4em 1.6em;
}
.send form{
    text-align: center;
}
.send form input{
    width: 26.25rem;
    height: 3.125rem;
    margin-bottom: 20px;
    border: 1px solid #9b9ba1;
    outline: none;
    background: var(--colorhover);
    
}
.send form input:hover{
    background: none;
}
#sendsmit{
    display:block;
    width: 6.25rem;
    height: 3.125rem;
    margin-left:2.5rem;
    background: #cb321a;
    border: none;
    
}
#sendmes{
    width: 26.25rem;
    height: 4.375rem;
    border: 1px solid black;
    outline: none;
}
.contact{
    position:relative;
    width: 500px;
    height: 435px;
    margin-left: 20px;
    margin-top: 65px;
}
.contact .contacts{
    position: absolute;
    top: 0;
    left: 25%;
    width: 250px;
    height: 400px;
    background: white;
    overflow: hidden;
    border-radius: var(--boderbtn);
    border: 1px solid ;
    transform:translateX(-30px) translateY(calc(30px* var(--i))) rotate(40deg) skew(-20deg,-10deg) scale(0.6);
    transition: 0.5s;
    z-index: calc(-1 *var(--i));
}
.contacts .cire{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    clip-path: circle(250px);
    background: blue;
}

.contacts img{
    position: absolute;
    top:-100px;
    left: 50%;
    transform: translate(-37%);
    width: 600px;
}
.contacts .content{
    position: relative;
    margin: 280px 20px;
    line-height: 20px;
}

#click_{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.contact:hover .contacts{
    transform:translateY(15px) translateX(calc(130px + calc(260px *var(--i)))) rotate(0deg) skew(0deg,0deg) scale(1);
    opacity: 1;
}
div.sliderBox{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.79);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderBox .slideBox_content{
    width: 1000px;
    margin: 0 auto;
}
.sliderBox .slideBox_content > img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;

}
.sliderBox_p,
.sliderBox_n{
    color: aliceblue;
    font-size: 50px;
}