
.r{
    position: relative;
    width: 500px;
    height: 500px;
    top: 200px;
    left: 32%;
    background: blue;
    top: 0;
    padding-bottom: 0px;
    text-align: center;
}
.i{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    top:200px;
    left: 190px;
    cursor: pointer;
    z-index: 11;
    transition: .3s;
    text-align: center;
}
.ii{
    position:absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: red;
    top:220px;
    left:210px;
    transition: .3s;

    
}
.iii{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: red;
    top:220px;
    left: 210px;
    transition: .3s;
}
.iiii{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    top:220px;
    left: 210px;
    transition: .3s;
}
.i.show{
    transform: scale(1.05);
    background-color: red;
}
.ii.shows{
    top:180px;
    left: 280px;;
}
.iii.showss{
    top:200px;
    left: 160px;
}
.iiii.showsss{
    top:335px;
    left:210px;
}

.content{
    padding-top:43px;
    font-size: 25px;
    
}
div.tt{
    display: flex;
    height: 600px;
    background:white;
    justify-content:center;
    justify-items: center;

}
.tt .send{
    font-size: 16px;
    margin-top: 2.5em;
    width: 31.25em;
    height:31.25em;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.tt .send h5{
    font-size:larger;
    margin-top: 70px;
    padding: 10px 40px;
}
.send form{
    text-align: center;
}
.send form input{
    font-size: 16px;
    width: 26.25em;
    height: 3.125em;
    margin-bottom: 20px;
    border: 1px solid black;
    outline: none;
    
    
}
#sendsmit{
    font-size: 16px;
    display:block;
    width: 6.25em;
    height: 3.125em;
    margin-left:40px;
    background: red;
    border: none;
    
}
#sendmes{
    font-size: 16px;
    width: 26.25em;
    height: 4.375em;
    border: 1px solid black;
    outline: none;
}
.contact{
    position:relative;
    width: 605px;
    height: 455px;
    margin-left: 50px;
    margin-top: 65px;
}
.contact .contacts{
    position: absolute;
    top: 0;
    left: 30%;
    width: 300px;
    height: 450px;
    background: white;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid ;
    transform:translateX(-50px) translateY(calc(30px* var(--i))) rotate(40deg) skew(-20deg,-10deg) scale(0.6);
    transition: 0.5s;
    z-index: calc(-1 *var(--i))
}
.contacts .cire{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    clip-path: circle(300px);
    background: blue;
}

.contacts img{
    position: absolute;
    top:-100px;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
}
.contacts .content{
    position: relative;
    margin: 300px 20px;
    line-height: 25px;
}

#click_{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.contact:hover .contacts{
    transform:translateY(0px) translateX(calc(150px + calc(350px *var(--i)))) rotate(0deg) skew(0deg,0deg) scale(1);
    opacity: 1;
}
