:root{
    --widthm:95%;
}
@media screen and (max-width:1367px){
    html{
        font-size: 16px;
    }
    .parList{
        background: #fff;
    }
    .parList .partListTitle h3{
        border-color: red;
    }
    div.rr{
        height: 350px;
    }
    .list{
        width: 90%;
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
    div.orderonl > img{
        width: 300px;
    }
}
@media screen and (max-width:1024px){
    html{
        font-size: 14px;
    }
    .rrTitle{
        width: 90%;
    }
    div.space{
        height: 50px;
    }
    .btnTaskbar{
        display: block;
    }
    .nav_list{
        display: none;
    }
    div.sign{
        display: none;
    }
    nav.navv{
        justify-content: flex-end;
    }
    div.headerr .navbar{
        display: block;
    }
    div.space{
        background: #fff;
    }
    .devBlog .devBlogF,
    .devBlog .devBlogS,
    .store .stores,
    .store .recritment,
    .store .aboutUs{
        width: 90%;
    }
    div.orderonl > img{
        width: 300px;
    }
    div.tt{
        flex-wrap: wrap;
    }
    .contact{
        pointer-events: none;
    }
    .contact .contacts{
        transform:translateY(-10px) translateX(calc(120px + calc(260px *var(--i)))) rotate(0deg) skew(0deg,0deg) scale(1);
    }
    
    .list{
        width: 90%;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
    div.orderonl > img{
        width: 200px;
    }
    
}
@media only screen and (max-width: 769px) {  
    html{
        font-size: 12px;
    }
    div.rr{
        height: 370px;
    }
    .slider{
        width: 100%;
        border-radius: 0;
    }
    div.owl-carousel{
        width: 600px;
    }
    .list{
        width:100%;
    }
    #list_{
        width: var(--widthm);
    }
    .list #list_{
        width: 100%;
    }
    .dev{
        height: 1200px;
    }
    .dev #devImg{
        height: 1100px;
    }
    .dev .devBlog{
        width: 100%;
    }
    .devBlog .devBlogS{
        width: var(--widthm);
    }
    .devBlog .devBlogF,
    
    .store .stores,
    .store .recritment,
    .store .aboutUs{
        width: var(--widthm);
    }
    .diemso .cup{
        margin: 60px;
    }
    .cup{
        font-size: 25px;
    }
    .cup p{
        font-size: 10px;
    }
    div.orderonl > img{
        width: 200px;
    }
    div.foot{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:500px) {
    html{
        font-size: 10px;
    }
    .space{
        display: none;
    }
    .navbar{
        display: block;
    }
    div.rr{
        height: 320px;
    }
    div.owl-carousel{
        width: 100%;
        border-radius: 0;
    }
     .rrTitle{
        width: 100%;
        height: 40px;
     }
    .rrTitle span:nth-child(1){
        font-size: 20px;
     }
    .list{
        width: 100%;
        height: 350px;
    }
    .list{
        margin-top:0px;
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        grid-gap: 10px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop:always;
    }
    .list .list_{
        margin-left: 1.5rem;
        width: 20rem;
        border-radius: var(--boderbtn);
        width: 100%;
        
        scroll-snap-align: center;
    }
    .list .listImg{
        position: relative;
        width: 100%;
    }
    .list_ .listImg > img {
        width: 100%;
        height: 270px;
        border-radius: 0 0 var(--boderbtn) 0;
        z-index: 0;
    }
    
    .devBlog .devBlogF > img{
        height: 200px;
    }
    .devBlog .devBlogF{
        width: var(--widthm);
        height: auto;
    }
    .devBlog .devBlogS{
        width: var(--widthm);
        height: 410px;
        flex-wrap: wrap;
    }
    .btnV{
        font-size: 10px;
        border: 1px solid black;
    }
    .nguoidung{
        display: none;
    }
    #vl1 h2{
        font-size: 15px;
    }
    div.orderonl > img{
        width: 100px;
    }
    .dev #devImg{
        opacity: 0;
    }
    .store .stores{
        width: var(--widthm);
        height: 450px;
        position: relative;
    }
    .store .stores .storesImg{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 250px;
        
    }
    .store .stores .storesContent{
        width: 100%;
        
    }
    .store .stores .storesImg img{
        width: 100%;
        height: 250px;
    }
    .store .recritment,
    .store .aboutUs{
        width: var(--widthm);
        background: #F8F8FF;
        margin: 10px auto 0;
    }
    .store .recritment .recritmentTitle span,
    .store .aboutUs .aboutUsTitle span{
        font-size: 35px;
        margin: 15px 10px;
        cursor: pointer;
    }

    .recritmentContent{
        margin: 10px auto 0;
        width: 300px;
        height: 200px;
        text-align: center;
    }
    .recritmentContent span{
        display: inline-block;
        width: 220px;
        height: 55px;
        padding-top: 13px;
        text-transform: uppercase;
        background: #FFFFFF;
        border: 1px solid black;
    }
    
    div.tt{
        height: 350px;
    }
    .tt .send{
        margin: 10px auto;
    }
    .tt .send h5{
        font-size:15px;
        margin-top: 2em;
        padding: 0.4em 1.8em;
    }
    .contacts{
        display: none;
    }
    .gotop {
        width: 40px;
        height: 40px;
        font-size: 28px;
    }
    .gotop > i{
        padding-top: 5px;
    }
    .gotop.show{
        bottom: 25px;
    }
}


