:root{
    --widthm:95%;
}
@media screen and (max-width:1367px){
    html{
        font-size: 16px;
    }
    .parList{
        background: #fff;
    }
    .parList .partListTitle h3{
        border-color: red;
    }
    div.rr{
        height: 350px;
    }
}
@media screen and (max-width:1024px){
    html{
        font-size: 14px;
    }

    .rr .rrTitle,
    div.partListTitle{
        width: 100%;
    }
    div.space{
        height: 50px;
    }
    /* #list_ .list_s{
        pointer-events: none;
    } */
    .rr .rrTitle span:nth-child(2){
        margin-left: 60%;
    }
    nav.navv{
        display: none;
    }
    div.space{
        background: #fff;
    }
    .devBlog .devBlogTitle,
    .store .storeContent{
        width: 90%;
    }

    .devBlog .devBlogF,
    .devBlog .devBlogS,
    .devBlog .devBlogT,
    .store .stores,
    .store .recritment,
    .store .aboutUs{
        width: 90%;
    }
    div.orderonl > img{
        width: 300px;
    }
    div.tt{
        flex-wrap: wrap;
    }
    .contact{
        pointer-events: none;
    }
    .contact .contacts{
        transform:translateY(-10px) translateX(calc(120px + calc(260px *var(--i)))) rotate(0deg) skew(0deg,0deg) scale(1);
    }
    div.orderonl > img{
        width: 200px;
    }
}
@media only screen and (max-width: 769px) {  
    html{
        font-size: 14px;
    }
    div.rr{
        height: 370px;
    }
    .slider{
        width: 100%;
        border-radius: 0;
    }
    div.owl-carousel{
        width: 600px;
    }
    .list{
        width:100%;
    }
    #list_{
        width: var(--widthm);
    }
    .rr .rrTitle span:nth-child(2){
        margin-left: 40%;
    }
    .rr .rrTitle,
    .list #list_{
        width: 100%;
    }
    .dev{
        height: 1200px;
    }
    .dev #devImg{
        height: 1100px;
    }
    .dev .devBlog{
        width: 100%;
    }
    .devBlog .devBlogS,
    .devBlog .devBlogT{
        width: var(--widthm);
    }
    .devBlog .devBlogTitle,
    .store .storeContent{
        width: 100%;
    }
    #btnV{
        margin-left: 55%;
    }
    .devBlog .devBlogF,
    
    .store .stores,
    .store .recritment,
    .store .aboutUs{
        width: var(--widthm);
    }
    .diemso .cup{
        margin: 60px;
    }
    .cup{
        font-size: 25px;
    }
    .cup p{
        font-size: 10px;
    }
    div.orderonl > img{
        width: 200px;
    }
    div.foot{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:500px) {
    html{
        font-size: 10px;
    }
    .navbar{
        display: block;
    }
    div.rr{
        height: 320px;
    }
    div.owl-carousel{
        width: 100%;
        border-radius: 0;
    }
    .rr .rrTitle{
        width: 100%;
        border-bottom: 3px solid red;
     }
     .rr .rrTitle span:nth-child(1){
        font-size: 20px;
        margin-left: 20px;
        border-bottom: 3px solid red;
     }
     .rr .rrTitle span:nth-child(2){
        
        font-size: 10px;
        border: 2px solid black;
     }
    .rr .rrTitle span:nth-child(2){
        margin-left: 20%;
    }

    .parList .partListTitle{
        width: 100%;
        height: 30px;
    }
    div.partListTitle h3{
        font-size: 20px;
        padding-left: 20px;
        border-bottom: 3px solid white;
    }
    .list{
        width: 100%;
        height: 350px;
    }
    .list #list_{
        margin-top:0px;
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        grid-gap: 30px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop:always;
    }
    #list_ .list_s{
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 250px;
        scroll-snap-align: center;
        box-shadow: unset;
        /* transition: .4s; */
    }
    .list #list_ .list_s img {
        width: 100%;
        
    }
    div.deal_list{
        position: relative;
        margin: 0 17px;
        width: 80px;
        height: 30px;
        border-radius: 20px;
        overflow: hidden;
    }
    div.deal_list > p{
        padding-top: 8px;
    }
    div.deal_list::before{
        content: '';
        position:absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 30px;
        transition: width 0.5s;
    }
    #list_ .list_s:hover .deal_list::before{
        width: 80px;
    }
    #list_ .list_s > p{
        padding-top: 1.25rem;
    } */
    
    .devBlog .devBlogF > img{
        height: 200px;
    }
    .devBlog .devBlogF{
        width: var(--widthm);
        height: 410px;
    }
    .devBlog .devBlogS,
    .devBlog .devBlogT{
        width: var(--widthm);
        height: 410px;
        flex-wrap: wrap;
    }
    .devBlog .devBlogTitle,
    .store .storeContent{
        width: 100%;
        height: 40px;
        font-size: 20px;
        border-bottom: 3px solid red;
    }
    #btnV{
        margin-left: 50%;
        font-size: 10px;
        padding-left: 13px;
        border: 1px solid black;
    }
    .nguoidung{
        display: none;
    }
    #vl1 h2{
        font-size: 15px;
    }
    div.orderonl > img{
        width: 100px;
    }
    .dev #devImg{
        opacity: 0;
    }
    div.store{
        width: 100%;
    }
    .store .storeContent{
        width: 100%;
        height: 40px;
        font-size: 20px;
        border-bottom: 3px solid red;
    }
    .store .stores{
        width: var(--widthm);
        height: 450px;
        position: relative;
    }
    .store .stores .storesImg{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 250px;
        
    }
    .store .stores .storesContent{
        text-align: start;
        margin: 60px 20px;
    }
    .store .stores .storesImg img{
        width: 100%;
        height: 250px;
    }
    .store .recritment,
    .store .aboutUs{
        width: var(--widthm);
        background: #F8F8FF;
        margin: 10px auto 0;
        overflow: hidden;
        transition: height 0.5s;
    }
    .store .recritment .recritmentTitle span,
    .store .aboutUs .aboutUsTitle span{
        font-size: 35px;
        margin: 15px 10px;
        cursor: pointer;
    }

    .recritmentContent{
        margin: 10px auto 0;
        width: 300px;
        height: 200px;
        text-align: center;
    }
    .recritmentContent span{
        display: inline-block;
        width: 220px;
        height: 55px;
        padding-top: 13px;
        text-transform: uppercase;
        background: #FFFFFF;
        border: 1px solid black;
    }
    
    div.tt{
        height: 350px;
    }
    .tt .send{
        margin: 20px auto;
        width: var(--widthm);
        height:31.25rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .tt .send h5{
        font-size:20px;
        margin-top: 2em;
        padding: 0.4em 1.8em;
    }
    #sendsmit{
        display:block;
        width: 6.25rem;
        height: 3.125rem;
        margin-left:3.4rem;
        
    }
    .contacts{
        display: none;
    }
    .infomation .infomations i{
        color: red;
    }
    .foots.time{
        color: #FF7F24;
    }
    .gotop {
        width: 40px;
        height: 40px;
        font-size: 28px;
    }
    .gotop > i{
        padding-top: 5px;
    }
    .gotop.show{
        bottom: 25px;
    }
}


