div.neun_right{
    z-index: 1;
}
div.ss > input{
    margin-bottom: 10px;
    width: 250px;
    height: 45px;
    border-radius:20px
}
div.ss > span{
    margin-top: 15px;
    position: absolute;
    font-size: 20px;
    color: #fff;
}
#sign{
    color: #fff;
    width: 100px;
    height: 30px;
    background: red;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    cursor: pointer;
}