div.neun_right{
    z-index: 1;
}
div.ss > input{
    margin-bottom: 10px;
    width: 250px;
    height: 45px;
    border-radius:20px
}
div.ss > span{
    margin-top: 15px;
    position: absolute;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
div.shopping_{
    display: flex;
}
div.shopping_ i{
    cursor: pointer;
    color: #fff;
}
#shopping{
    font-size: 28px;
    margin-right: 15px;
}
#user{
    font-size: 48px;
    margin-top: -7px;
    margin-left: 10px;
    color: #808080;
}
#sign{
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;
    cursor: pointer;
}
