
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div.headerr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 10%;
    z-index: 1;
    transition: .4s;
}
nav.navv{
    display: flex;
    align-items:center;
    justify-content:center;
}
.logo{
    width: 45px;
    margin-top: -5px;
    cursor: pointer;
}
.nav_list{
    padding: 28px 0px;
}
ul.nav_list li{
    display: inline-block;
    margin: 0 15px;
}
ul.nav_list li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}
ul.nav_list li a::after{
    content: '';
    position: absolute;
    background: blue;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
}
ul.nav_list li a:hover::after{
    width: 100%;
}
ul.nav_list li a:hover{
    color: #EE0000;
}
.nav_list li a .title{
    text-transform: capitalize;
}
.logo{
    width: 45px;
    margin-top: -5px;
    cursor: pointer;
}
.gotop {
    position: fixed;
    right: 15px;
    bottom: -50px;
    text-align: center;
    background: #ff3000;
    width: 50px;
    height: 50px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
    transition: .4s;
    
}
.gotop > i{
    padding-top: 10px;
}
.gotop:hover{
    background-color: #BB0000;
}
.gotop.show{
    bottom: 25px;
}

/* img anh nen */
.dot{
    position: relative;
    display: flex;
    width: 100px;
    left: 48%;
    top: 100vh;
    z-index: 99;
}
.dot .dots{
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    border: 2px solid gold;
    cursor: pointer;
    margin-left: 5px;
}
.dots.act{
    background: white;
}
div.cont{
            
    top: 0;
    left: 0;
}
.cont .conts{
    position: absolute;
    width: 100%;
    transition: .4s ease;
    opacity: 0;
    clip-path: circle(1000px at center);
}
div.conts img{
    width: 100%;
}
.cont .conts.act{
    opacity: 1;
    animation-name:ex;
    animation-duration: 1.2s;
}
@keyframes ex{
    from{clip-path:circle(20px at center);}
    to{clip-path: circle(1000px at center);}
}
.caption .caption_{
    position: absolute;
    top: 50%;
    left: 200px;
    transition: .3s;
    opacity: 0;
    
}
.caption .caption_.act{
    opacity: 1;
    animation-name: caption_cap;
    animation-duration: 1s;
}
@keyframes caption_cap{
    from{transform: translate(-700px,0px);}
    to{transform: translate(0,0);}
}
/* order caption */
#order{
    width: 150px;
    height: 45px;
    background:#fff;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#order > a{
    text-decoration: none;
   
    color: #000000;
    
}
#order:hover{
    background: #F5F5F5;
}
@media only screen and (max-width: 600px) {
    ul.nav_list{
        display: none;
    }
    div.ss{
        display: none;
    }
    #sign{
        display: none;
    }
    nav.navv img{
        margin-left: 50px;
        margin-top: 10px;
    }
}


