/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9b9ba1;
    border-radius: 10px;
  }
html{
    font-size: 16px;
}
:root{
    --boderbtn:10px;
    --colorbtn:#ffffff;
    --colorhover:#F3F3F4;
    --heightbtn:35px;
    --colorssblck:#9b9ba1;
    --colorblackwhite:#e4e0e4;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
div.headerr{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #9b9ba1;
    border-bottom: 2px solid #9b9ba1;
    width: 100%;
    height: 50px;
    overflow: hidden;
    transition: height 0.5s;
}
img#logo{
    position: absolute;
    top: 1px;
    left: 0%;
    z-index: 1;
    width: 55px;
    opacity: 1;
    border-radius: 50%;
}
nav.navv{
    position: relative;
    display: flex;
    justify-content:space-between;
    opacity: 1;
}

.nav_list{
    position: relative;
    margin-left: 5%;
    margin-top: 9px;
    padding: 5px 0;
    display: flex;
    text-align: center;
    align-items: center;
    background: none;
    height: 35px;
    list-style-type: none;
    width: 600px;

}
ul.nav_list li{
    position: relative;
    width: 120px;
    
}
.meunshape{
    display: none;
    position: absolute;
    top: 25px;
    left: 50%;
    width: 200px;
    background-color: rgb(243, 243, 244);
    transform: translate(-50%,5px);
    border-radius: var(--boderbtn);
}
.meunshape > div{
    margin-top:0;
    font-size: 20px;
    height: 35px;
    color: #9b9ba1;
    text-transform: capitalize;
    position: relative;
}

.meunshape > div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 85%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.1);
    border-radius: var(--boderbtn);
    opacity: 0;
    transition: opacity 0.5s;
}
.meunshape > div:hover::after{
    opacity: 1;
}
ul.nav_list li a{
    position: relative;
    text-decoration: none;
    color: #000000;
    padding: 10px 0;
    z-index: 1;
}
.nav_list li a .title{
    text-transform: capitalize;
}
.nav_list .ani{
    position: absolute;
    top: 0;
    width:120px;
    left:0;
    height: 100%;
    background: #FFF;
    border-radius: var(--boderbtn);
    border: 2px solid #9b9ba1;
    z-index: 0;
    transition: left .4s ease-in-out;
}
.navright{
    width: 400px;
}
div.ss{
    position: relative;
    width: 270px;
    height:auto;
    align-items: center;
    text-align: center;
    z-index: 0;
}
div.xclode{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:#9b9ba1;
    right: 5px;
  
}
.ss_{
    position: absolute;
    top:5px;
    left:10px;
    width: 250px;
    height: 40px;
    background:#9b9ba1;
    border-radius: var(--boderbtn);
    overflow: hidden;
    transition: .4s;
    cursor: pointer;
}
.ss_ span{
    position: absolute;
    padding: 10px 0px;
    left: 10px;
    background-color:inherit;
    color: #e4e0e4;
    font-size: 20px;
}
.ss_ input{
    position: absolute;
    top: 0;
    left: 35px;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 20px;
    background: inherit;
}
.ss_:hover{
    background: var(--colorbtn);
    border: 1px solid #9b9ba1;
}
.shopping{
    display: flex;
}

.sign{
    margin-top: 9px;
    width: 200px;
    height: 35px;
    display: flex;
    border-radius: var(--boderbtn);
    z-index: 0;
}
.sign >div{
    padding-top: 5px;
    position: relative;
    width: 100px;
    height: 35px;
    text-align: center;
}
.shopping .sign > div a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
}
.sign > div:nth-child(1)::before,
.sign > div:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 35px;
    background: #cb321a;
    border-radius: var(--boderbtn);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s;
}
.shopping .sign > div:nth-child(1):hover:before,
.shopping .sign > div:nth-child(2):hover:before{
    opacity: 0.6;
}
.gotop {
    position: fixed;
    right: 15px;
    bottom: -50px;
    text-align: center;
    background: #cb321a;
    width: 50px;
    height: 50px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 50%;
    transition: .4s;
    
}
.gotop > i{
    padding-top: 10px;
}
.gotop:hover{
    background-color: #BB0000;
}
.gotop.show{
    bottom: 25px;
}
/* img anh nen */
.slider{
    margin-top: 50px;
}
.slider-item{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}
.slider-item::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    background:rgba(0, 0, 0, 0.4);
}
.slider-item-one{
    background-image: url("https://c.pxhere.com/photos/1c/5b/coffee_coffee_beans_afternoon_tea-1087030.jpg!d");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-item-two{
    background-image: url("https://c.pxhere.com/photos/15/5a/coffee_Cup_Table_wood-1617499.jpg!d");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-item-three{
    background-image: url("https://c.pxhere.com/photos/a1/3c/Beverage_Cafe_Cappuccino_Chocolate_cocoa_counter_cozy_Cream-1623286.jpg!d");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:0 ;
    font-size: 40px!important;
    color: #ffffff!important;
}
.owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:0;
    font-size: 40px!important;
    color: #ffffff!important;
}
.owl-next,.owl-prev:hover{
    background: none!important;
    outline: none!important;
}
.owl-dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-dot span{
    margin: 0!important;
    background-color: transparent!important;
}
.owl-dots .owl-dot{
    margin: 2px!important;
    width: 23px!important;
    height: 23px!important;
    border: 2px solid white!important;
    border-radius: 50%;
}
.owl-dots .owl-dot.active{
    background-color: white!important;
}
div.wapper{
    position: relative;
    width: 100%;
    margin: auto;
}
.wapper .slider-item-text{
    position:absolute;
    top:50%;
    left: 30%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: white;
}
.wapper .slider-item-text p {
    font-size:20px;
}
.wapper .slider-item-text p:nth-child(2){
    color: #BB0000;
    font-size: 25px;
    font-weight: 800;
}
/* order caption */
div#vl1 > h2{
    margin-top: 20px;
}
div.btnV > a{
    text-decoration: none;
    color: #000000;
    
}





