*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
div.headerr{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    padding: 0 8%;
    z-index: 1;
}
nav.navv{
    display: flex;
    align-items:center;
    justify-content:space-around;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.nav_list{
    padding: 28px 0px;
}
ul.nav_list li{
    display: inline-block;
    margin: 0 15px;
}
ul.nav_list li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}
ul.nav_list li a::after{
    content: '';
    background: blue;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
}
ul.nav_list li a:hover::after{
    width: 100%;
}
ul.nav_list li a:hover{
    color: #EE0000;
}
div.gotop span{
    position: fixed;
    right: 1px;
    bottom: 1px;
    font-size: 28px;
    background: #ff3000;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
    display: none;
}
.gotop span:hover{
    background-color: #BB0000;
}
div.carousel-inner img {
    width: 100%;
}
/* dựa trên logo */
#caption_{
    text-align: left;
    left: 200px;
    top: 300px;
}
div.order{
    width: 150px;
    height: 35px;
    background:#EE0000;
    border-radius: 20px;
    cursor: pointer;
}
div.order > a{
    text-decoration: none;
    padding-left: 5px;
    padding-top: 10px;
}
div.order > i{
    color: black;
    margin-top:10px;
    padding-left: 10px;
}
div.order:hover{
    background-color: #BB0000;
}
@media only screen and (max-width: 600px) {
    ul.nav_list{
        display: none;
    }
    div.ss{
        display: none;
    }
    #sign{
        display: none;
    }
    nav.navv img{
        margin-left: 50px;
        margin-top: 10px;
    }
}





