
.btnTaskbar{
    width: 35px;
    height: 35px;
    margin-top: 8px;
    z-index: 11;
    text-align: left;
    display: none;
}
.btnShopping{
    width: 35px;
    height: 35px;
    margin-top: 8px;
    z-index: 11;
    text-align: left;
}
.btnTaskbar > span{
    font-size: 22px;
    padding-top: 5px;
}
.btnShopping > span{
    font-size: 22px;
    padding-top: 5px;
}
div.headerr .navbar{
    position: relative;
    width: 100%;
    display: none;
}
.navbar .taskbar{
    width: 95%;
    height: auto;
    margin:0 auto;
}
.navbar .taskbar ul{
    text-align: start;
}
ul.task-item{
    height: auto;
}
ul.task-item li:nth-child(1) > a{
    font-size: 25px;
    color: red;
}
ul.task-item > li{
    margin-top: 10px;
    padding: 10px 10px 10px 0;
    list-style-type: none;
    height: auto;
    width: 100%;
}
.downM{
    display: flex;
    justify-content: space-between;
}
.downM > span,#navbarSign > a{
    font-size: 16px;
    font-weight: 600;
    text-decoration:none;
    color: var(--boderbtn);
    text-transform: capitalize;
}
.downM > i{
    font-size: 16px;
}
div.navbarshape{
    overflow: hidden;
    width: 100%;
    height:0;
    transition: all .0.5s;
}
div.navbarshape > div{
    border-left: 1px solid var(--colorssblck);
    padding:15px 0 15px 15px;
}
div.navbarshape > div > a{
    text-decoration: none;
    font-size: 14px;
    color: var(--colorssblck);
    font-weight: 600;
    text-transform: capitalize;
}
div.navbarshape.show{
    height: auto;
}
div.shopBar{
    position: fixed;
    top: 50px;
    right: -300px;
    overflow: hidden;
    z-index: 111;
    transition: right 0.5s;
}
div.shopBar.show{
    right: 0;
}
.shopBar .shoBarCon{
    position: relative;
    width: 300px;
    height: 100vh;
    background: whitesmoke;
   
}
.shopBar .shoBarCon .shopItem{
    position: relative;
    width: 90%;
    margin:0 auto 10px;
    display: flex;
    justify-content: flex-start;

}
.shopBar .shoBarCon .shopItem > img {
    width: 60px;
}
.shopBar .shoBarCon .shopItem p{
    margin-bottom: 0px;
    padding-left: 5px;
    font-size: 19px;
}
.shopBar .shoBarCon .checkOut{
    width: 80%;
    margin:0 auto 0;
    padding-top:30px ; 
       
}
.shopBar .shoBarCon .checkOut > button{
    width: 100%;
    height: 40px;
}
div.shopX{
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
}



